* {
    margin : 0;
    padding: 0;
}

body {


    margin: 0 auto;


    .container {
        padding-top: 6px;
        max-width  : 1920px;
        margin     : 0 auto;
        height     : 100%;
    }

    button {
        -webkit-box-pack: center;
        justify-content : center;
        line-height     : 2.5;
        font-size       : 1rem;
        color           : rgb(255, 255, 255);
        text-shadow     : rgb(0, 0, 0) 1px 1px 1px;
        background-color: rgb(128, 0, 83);
        box-shadow      : rgba(255, 255, 255, 0.6) 2px 2px 3px inset, rgba(0, 0, 0, 0.6) -2px -2px 3px inset;
        text-align      : right;
        border-width    : 0px;
        border-style    : initial;
        border-color    : initial;
        border-image    : initial;
        padding         : 0px 20px;
        border-radius   : 10px;
    }


}

@import '_mixins';
@import '_color';
@import '_header';
@import '_svg';
@import '_header__burger_menu';
@import '_carousel';
@import '_product-card-section';
@import '_product-card-details';
@import '_delivery-section';
@import '_photogalery_section';
@import '_footer';
@import '_part-between';
@import '_modal-window';
@import '_goods-list'